<!-- app/views/bookmarks/new.html.erb -->
<h1>Add a New Bookmark</h1>

<%= simple_form_for @bookmark do |f| %>
  <%= f.error_notification %>

  <%= f.association :movie, collection: @movies, prompt: "Choose a movie" %>
  <%= f.association :list, collection: @lists, prompt: "Choose a list" %>

  <%= f.input :comment %>

  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', lists_path %>
